header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

header img{
    width: 40px;
    height: 40px;
}

.catalog{
    color: lightblue;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headeri{
    display: flex;
    justify-content: flex-start;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bgfoto{
    display: flex;
    justify-content: center;
}

.latestvideo{
    display: flex;
    justify-content: space-between;
}

.latestvideo h3{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.latestvideo p{
    color: green;
}

.headeri .catalog{
    padding-left: 10px;
}

.fotografit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.views_date{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}